  .nav {
    width: 100%;
  }

  .nav__logo {
    width: 57px;
    height: 22px;
  }

  .nav__width {
    width: 180px;
  }

@media (min-width: $mobile-width) {
  .nav {
    display: flex;
    align-items: center;
  }

  .nav__list,
  .nav__phone {
    @include list-style-none();
    @include reset-to-zero();
  }

  .nav__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: 50px;
  }

  .nav__item {
    margin-right: 40px;
  }

  .nav__link {
    color: $most_dark;

    &:hover,
    &:focus {
      color: $accent_main;
    }
  }

  .nav__logo {
    margin-right: 40px;
    width: 57px;
    height: 22px;
  }

  .nav__phone {
    position: relative;
    margin-left: 41px;
    margin-right: 14px;
    text-decoration: underline;

    @include set-font-size(16px, 32px);

    &::before {
      background-image: url("../img/icon-phone-color.svg");
      background-position: left center;
      background-repeat: no-repeat;
      left: -41px;

      @include pseudo();
      @include set-img-size(30px, 30px);
    }
  }

  .nav__tel {
    color: $accent_main;
  }
}

@media (min-width: $tablet-width) {
  .nav__logo {
    width: 44px;
    height: 17px;
  }
}
