.nav__list,
.nav__phone {
  @include list-style-none();
  @include reset-to-zero();
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: 90px;
}

.nav__item {
  margin-right: 40px;

  &:hover {
    color: $accent_main;
  }
}

.nav__logo {
  margin-right: 40px;
}

.nav__phone {
  position: relative;
  margin-left: 41px;
  margin-right: 14px;
  color: $accent_main;
  text-decoration: underline;

  @include set-font-size(16px, 32px);

  &::before {
    background-image: url("../img/icon-phone-color.svg");
    background-position: left center;
    background-repeat: no-repeat;
    left: -41px;

    @include pseudo();
    @include set-img-size(30px, 30px);
  }
}
