@media (min-width: $mobile-width) {
  .places {
    padding-top: 199px;

    @include page-wrap();
  }

  .places__title {
    width: 358px;
    margin: 0;
    margin-bottom: 30px;
    font-weight: 600;
    color: $dark;

    @include set-font-size(55px, 80px);
  }

  .places__line {
    margin-bottom: 30px;

    @include accent-line(228px, 4px);
  }

  .places__text {
    margin-bottom: 56px;
    width: 328px;
  }

  .places__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1170px;

    @include reset-to-zero();
    @include list-style-none();
  }

  .places__mask {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    height: 100%;
    background: $most_dark;
    text-align: center;

    transform: translateY(100%);
    transition: all 0.125s ease-in-out;

    &::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 1px;
      height: 100%;
    }
  }

  .places__more {
    display: inline-block;
    vertical-align: middle;
    color: $white;
    left: 100%;
    border: 1px solid $white;
    padding: 30px 25px;

    @include uppercase();
    @include set-font-size(14px, 17px);
  }

  .places__item {
    position: relative;
    background-color: $blue-bg;
    margin-bottom: 101px;
    margin-right: 40px;
    overflow: hidden;
    width: 350px;
    height: 430px;

    &:hover .places__mask {
      opacity: 60%;
      transform: translateY(0%);
    }

    &:hover .places__more {
      opacity: 100%;
    }
  }

  .places__country {
    z-index: 1;
    position: absolute;
    content: "";
    color: $dark;
    background-color: $white;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    padding-top: 16px;

    @include set-font-size(24px, 29px);
    @include set-img-size(215px, 45px);
  }

  .places__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 430px;
    min-width: 230px;
    object-fit: cover;
  }
}

@media (min-width: $tablet-width) {
  .places {
    text-align: center;
    padding-top: 80px;
    margin-bottom: 58px;
  }

  .places__title {
    width: auto;
    margin-bottom: 20px;

    @include set-font-size(30px, 45px);
  }

  .places__text {
    margin: 0 auto;
    margin-bottom: 40px;
    letter-spacing: -0.466667px;

    @include set-font-size(16px, 28px);
  }

  .places__line {
    display: none;
  }

  .places__item {
    margin-bottom: 20px;
    margin-right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .places {
    text-align: start;
    padding-top: 199px;
    margin-bottom: 0px;
  }

  .places__title {
    width: 358px;
    margin-bottom: 30px;

    @include set-font-size(55px, 80px);
  }

  .places__text {
    margin: 0 0 6px 0;
  }

  .places__line {
    display: block;
  }

  .places__item {
    margin-top: 50px;
    margin-bottom: 51px;
    margin-right: 40px;
  }
}
