body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  background-color: #ffffff;
  color: #2c2e3f;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.466667px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

@mixin set-font-size($font-size: 16px, $line-height: 28px) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin list-style-none() {
  list-style: none;
}

@mixin reset-to-zero() {
  margin: 0;
  padding: 0;
}

@mixin uppercase() {
  text-transform: uppercase;
}

@mixin pseudo() {
  content: "";
  display: block;
  position: absolute;
}

@mixin set-img-size($width, $height) {
  width: $width;
  height: $height;
}

@mixin accent-line($width, $height) {
  @include set-img-size($width, $height);
  background-color: $accent_main;
}

@mixin padding-l-r($padding-left: 25px, $padding-right: 25px) {
  padding-left: $padding-left;
  padding-right: $padding-right;
}
