@mixin page-wrap() {
  width: $mobile-width;
  margin: 0 auto;

  @include padding-l-r(16px, 16px);

  @media (min-width: $tablet-width) {
    width: $tablet-width;

    @include padding-l-r(21px, 21px);
  }

  @media (min-width: $desktop-width) {
    width: 1170px;

    @include padding-l-r();
  }
}
