//Шрифты
$font-title: "Montserrat", "Arial", sans-serif;
$font-text: "Arial", "Helvetica", sans-serif;

// цвета
$white: #ffffff;
$accent_main: #fe7865;
$accent_hover: #f17d4b;
$light: #fbf8f8;
$dark: #2c2e3f;
$most_dark: #141517;
$black: #000000;
$input-border: #c1c0c5;
$blue-bg: #c2dcf5;

// размеры страницы
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1024px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
